<!--ChatPageStatus.OfferSend-->
<div *ngIf="pageStatus==ChatPageStatus.OfferSend">
  <div
    style="
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
  >
    <!-- 👤 Şəkil -->
    <img
      [ngSrc]="photo"
      alt="Contact avatar"
      width="80"
      height="80"
      style="border-radius: 50%; margin-bottom: 16px;"
    />
    <!-- 📞 Başlıq -->
    <div style="font-size: 22px; font-weight: 500;">
      Teklif göndərildi
    </div>

    <!-- ℹ️ Alt yazı -->

    <div style="margin:10px 0; color:gray;">
      ⏱️ Gozləyir... {{ remainingSeconds }} saniyə qaldı
    </div>


    <!-- 🔘 Düymələr -->
    <div>

      <!-- 📞 Zəng edilir -->
      <button
        nz-button
        nzType="default"
        nzDanger
        (click)="cancelOffer(ChatPageStatus.RejectByCaller)"
      >
        <i nz-icon nzType="close-circle" style="margin-right:6px;"></i>
        Ləğv et
      </button>


    </div>

  </div>


</div>

<!--ChatPageStatus.OfferComing-->
<div *ngIf="pageStatus==ChatPageStatus.OfferComing">
  <div
    style="
    text-align: center;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
  >
    <img
      [src]="photo"
      alt="Caller photo"
      width="100"
      height="100"
      style="border-radius: 50%; margin-bottom: 16px;"
    />

    <div style="font-size: 22px; font-weight: 500;">
      Söhbət təklifi mövcuddur
    </div>

    <div style="margin:10px 0; color:gray;">
      ⏱️ Söhbət təklifi cavablanmaq üçün gözləyor
    </div>


    <div style="display: flex; gap: 10px; margin-top: 10px;">
      <button
        nz-button
        nzType="primary"
        (click)="acceptOffer()"
        style="background-color: #4caf50; border-color: #4caf50;"
      >
        <i nz-icon nzType="phone" nzTheme="outline" style="margin-right: 6px;"></i>
        Cavab ver
      </button>

      <button nz-button nzType="default" nzDanger (click)="cancelOffer(ChatPageStatus.RejectByReceiver)">
        <i nz-icon nzType="close-circle" style="margin-right: 6px;"></i>
        Rədd et
      </button>
    </div>
  </div>

</div>

<!--ChatPageStatus.CallAccept-->
<div *ngIf="pageStatus==ChatPageStatus.CallAccept">
  <nz-splitter style="height: 600px">
    <nz-splitter-panel [nzCollapsible]="true" nzDefaultSize="20%" nzMin="10%" nzMax="70%">


    </nz-splitter-panel>
    <nz-splitter-panel>
      <nz-splitter nzLayout="vertical">
        <nz-splitter-panel nzDefaultSize="85%" nzMin="20%" nzMax="90%">
          <div
            #chatContainer
            class="h-full overflow-y-auto border border-gray-300 rounded-xl p-4 bg-white shadow"
          >
            <ng-container *ngFor="let msg of messages">
              <div
                class="mb-3"
                [ngClass]="{
        'text-right': msg.type === 'sent',
        'text-left': msg.type === 'received'
      }"
              >
                <nz-tag
                  [nzColor]="msg.type === 'sent' ? 'blue' : 'green'"
                  class="mb-1 inline-block"
                >
                  {{ msg.type === 'sent' ? 'Siz' : 'Gondərn' }}
                </nz-tag>
                <div
                  class="inline-block max-w-[80%] p-3 rounded-2xl shadow-md"
                  [ngClass]="{
          'bg-blue-100 text-gray-800': msg.type === 'sent',
          'bg-green-100 text-gray-900': msg.type === 'received'
        }"
                >
                  {{ msg.msg }}
                </div>

              </div>
            </ng-container>
            <ng-container>
              <div *ngIf="isMsgPrepare" class="text-left mb-2 text-gray-500 italic">
                yazır...
              </div>
            </ng-container>
          </div>
        </nz-splitter-panel>
        <nz-splitter-panel>
          <div>
            <!-- ChatGPT stilində input -->
            <div class="flex items-center gap-2 relative w-full">
            <textarea style="height: 70px ;margin: 2px"

                      [(ngModel)]="inputMessage"

                      placeholder="Mesajınızı yazın..."
                      rows="1"
                      class="flex-grow resize-none p-3 rounded-xl border border-gray-300
                     focus:outline-none focus:ring-2 focus:ring-blue-500 shadow"
            ></textarea>

              <button
                (click)="sendMessage()"
                nz-button
                nzType="primary"
                class="rounded-full p-3 flex items-center justify-center"
              >
                <span nz-icon nzType="send" nzTheme="outline"></span>
              </button>
            </div>

          </div>
        </nz-splitter-panel>
      </nz-splitter>
    </nz-splitter-panel>
  </nz-splitter>
</div>

<!--ChatPageStatus.EndByCaller-->
<div *ngIf="pageStatus==ChatPageStatus.EndByCaller">
  <div
    style="
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
  >
    <!-- 👤 Şəkil -->
    <img
      [ngSrc]="userService.getImgFullPath(photo)"
      alt="Contact avatar"
      width="80"
      height="80"
      style="border-radius: 50%; margin-bottom: 16px;"
    />
    <!-- 📞 Başlıq -->
    <div style="font-size: 22px; font-weight: 500;">
      Levğ edildi
    </div>

    <!-- ℹ️ Alt yazı -->

    <div style="margin:10px 0; color:gray;">
      ⏱️ Levğ edildi...
    </div>

    <!-- 🔘 Düymələr -->
    <div>

    </div>

  </div>


</div>

<!--ChatPageStatus.RejectByCaller-->
<div *ngIf="pageStatus==ChatPageStatus.RejectByCaller">
  <div
    style="
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
  >
    <!-- 👤 Şəkil -->
    <img
      [ngSrc]="userService.getImgFullPath(photo)"
      alt="Contact avatar"
      width="80"
      height="80"
      style="border-radius: 50%; margin-bottom: 16px;"
    />
    <!-- 📞 Başlıq -->
    <div style="font-size: 22px; font-weight: 500;">
      Levğ edildi
    </div>

    <!-- ℹ️ Alt yazı -->

    <div style="margin:10px 0; color:gray;">
      ⏱️ Qarşı tərəf levğ etdi...
    </div>

    <!-- 🔘 Düymələr -->

    <div>

    </div>

  </div>


</div>

<!--ChatPageStatus.RejectByReceiver-->
<div *ngIf="pageStatus==ChatPageStatus.RejectByReceiver">
  <div
    style="
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
  >
    <!-- 👤 Şəkil -->
    <img
      [ngSrc]="userService.getImgFullPath(photo)"
      alt="Contact avatar"
      width="80"
      height="80"
      style="border-radius: 50%; margin-bottom: 16px;"
    />
    <!-- 📞 Başlıq -->
    <div style="font-size: 22px; font-weight: 500;">
      Levğ edildi
    </div>

    <!-- ℹ️ Alt yazı -->

    <div style="margin:10px 0; color:gray;">
      ⏱️ Levğ edildi...
    </div>

    <!-- 🔘 Düymələr -->
    <button
      nz-button
      nzType="primary"
      (click)="startOffer()"
    >
      <i nz-icon nzType="phone" style="margin-right:6px;"></i>
      Yenidən zəng et
    </button>
    <div>

    </div>

  </div>


</div>

<!--ChatPageStatus.NotActive-->
<div *ngIf="pageStatus==ChatPageStatus.NotActive">
  <div
    style="
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
  >
    <!-- 👤 Şəkil -->
    <img
      [ngSrc]="userService.getImgFullPath(photo)"
      alt="Contact avatar"
      width="80"
      height="80"
      style="border-radius: 50%; margin-bottom: 16px;"
    />
    <!-- 📞 Başlıq -->
    <div style="font-size: 22px; font-weight: 500;">
      İstifadəçi aktiv deyil
    </div>

    <!-- ℹ️ Alt yazı -->

    <div style="margin:10px 0; color:gray;">
      ⏱️ Bir qədər sonra cəhd edin...
    </div>

    <!-- 🔘 Düymələr -->
    <div>

    </div>

  </div>


</div>
