<nz-layout class="layout">
  <nz-sider [nzTheme]="'light'"   nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <ul nz-menu [nzTheme]="'light'" nzMode="inline" class="menu-flex">
      <li nz-submenu>
           <span title>
             <app-notif style="margin-right: 12px"></app-notif>
              <nz-avatar
                [nzSrc]="picture"
                nzSize="small"
                [nzAlt]="user?.name"
              ></nz-avatar>
             {{ user?.name || 'User' }}
            </span>
        <ul>
          <li nz-menu-item [routerLink]="['user/profile']">
            <nz-icon nzType="idcard" class="menu-icon"></nz-icon>
            Profile
          </li>
          <li nz-menu-item (click)="logout()">
            <nz-icon nzType="logout" class="menu-icon"></nz-icon>
            Logout
          </li>
        </ul>
      </li>
<!--      <li *accessControl="['user']; op: 'or'" nz-submenu nzTitle="DB" nzIcon="database">-->
<!--        <ul>-->
<!--          <li nz-menu-item [routerLink]="['admin/db-compile']"> DbCompiles</li>-->
<!--          <li nz-menu-item>DbTables</li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li nz-submenu nzTitle="Settings" nzIcon="setting">-->
<!--        <ul>-->
<!--          <li nz-menu-item [routerLink]="['admin/settings']">User setting</li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li nz-menu-item [routerLink]="['user/ai-chat']">-->
<!--        <nz-icon nzType="wechat-work" />-->
<!--        <span>Chat</span>-->
<!--      </li>-->
<!--      <li nz-menu-item [routerLink]="['user/face-id']">-->
<!--        <nz-icon nzType="smile" />-->
<!--        <span>face id</span>-->
<!--      </li>-->
      <li nz-menu-item [routerLink]="['user/contact']">
        <nz-icon nzType="smile" />
        <span>Contacts</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <router-outlet></router-outlet>
      </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>


<!--<nz-modal [(nzVisible)]="isVideoCallOfferCome" nzTitle="Call" (nzOnCancel)="handleCallOfferCancel()" (nzOnOk)="handleCallOfferOk()">-->
<!--  <ng-container *nzModalContent>-->
<!--    <p>callerName</p>-->
<!--    <nz-avatar-->
<!--      [nzSrc]="userService.getImgFullPath(callerPhoto)"-->
<!--      [nzSize]="50">-->
<!--    </nz-avatar>-->
<!--  </ng-container>-->
<!--</nz-modal>-->
