<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track data) {
      <tr>
        <td>{{ data.fromUserName }}</td>
        <td>{{ data.fromUserEmail }}</td>
        <td>{{ data.status }}</td>
        <td>
          <a>Action 一 {{ data.fromUserName }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
